.recent-item{
    border-bottom: 2px solid #c7c7cc;
}

.actions-grid{
    display: grid;
    gap: 7rem;
    grid-template-columns: 30rem;
}


@media screen and (max-width: 768px) {
    .actions-grid{
        grid-template-columns: 1fr;
    }   
}